// COLOR PALETTE
$white: #e8e8e8;
$darkBlue1: #3e486c;
$darkBlue2: #495376;

$darkBlue2Hover: #5b6793;

$darkBlue3: #2d3653;

$lightBlue1: #63b5dd;

$boxShadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

$walletBackground: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(215, 113, 255, 1) 0%,
    rgba(115, 160, 255, 1) 100%
);
